.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.d-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}
.flex-flow-wrap {
  flex-flow: wrap;
}
.job-card {
  width: 18rem;
}
.job-card button {
  margin-left: 7px;
  font-size: 13px;
  padding: 4px 4px;
}

.cursor-pointer {
  cursor: pointer;
}
.mr-2 {
  margin-right: 5px;
}
.m-0-auto {
  margin: 0 auto;
}
body {
  background: url(./assets/image.png) no-repeat 0 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.card.bg-none {
  background: none;
}
.card-body h1 {
  margin: 100px 0 50px;
}
button.search-btn {
  margin-left: 10px;
}
.job-card {
  background: #ffff;
  max-width: 600px;
  width: 100%;
  margin: 20px auto;
  display: block;
  box-shadow: 1px 1px 20px rgb(0, 0, 0, 0.6);
}
